.title {
    color: var(--main-text-black);
}

.arrow {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);   
}

.arrow span {
    display: block;
    width: 30px;
    height: 30px;
    border-bottom: 5px solid var(--main-text-primary);
    border-right: 5px solid var(--main-text-primary);
    transform: rotate(45deg);
    margin: -10px;
    animation: scroll 2s infinite;
}

.arrow span:nth-child(2) {
    animation-delay: -.2s;
}

.arrow span:nth-child(3) {
    animation-delay: -.4s;
}

@keyframes scroll {
    0% {
        opacity: 0;
        transform: rotate(45deg) translate(-20px, -20px);
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: rotate(45deg) translate(-20px, -20px);
    }
}